/* §    the whole document */
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* align-items: stretch; */
}

/* §    header, footer, main */
header, footer {
    flex-grow: 0;
    /* min-height: 1vh; */
}
header {
    /* position: relative; */
    background-color: red;
    position: relative;
    min-height: 10vh;
}
footer {
    background-color: yellow;
    position: relative;
    min-height: 15vh;
}
main {
    position: relative;
    flex-grow: 1;
    background-color: blue;
    min-height: 75vh; /* header min-height + footer min-height */
}

/* §    children of header */
#main-menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    width: 100%;
    height: 100%;
    padding: 10px;
}

/* @media (max-width: 900) {
    #main-menu {
        flex-direction: column;
    }
} */

#main-menu li {
    list-style-type: none;
    /* display: flex; */
    background-color: blue;
}

#main-menu li ul {
    list-style-type: none;
    background-color: yellow;
}
#nav-menu {
    display: flex;
    justify-content: flex-start;
    /* background-color: azure; */
}

#account-menu {
    /* background-color: wheat; */
    display: flex;
    justify-content: center;
}

.main-menu-item {
    padding: 10px;
}

/* §    children on main */
/* §    children of footer */
